[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
coverage = "*"
ipython = "*"
ipdb = "*"

[packages]
huey = "*"
django = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
